# ================================
# 1. ROS2 专用忽略（你必须要）
# ================================
build/
install/
log/
colcon_build/
__pycache__/
*.pyc
*.egg-info/

# ================================
# 4. 地图文件忽略（你必须要）
# ================================
# 导航地图
*.pgm
#*.yaml

# 定位地图
*.ply
*.pcd
*.pbstream

cmake-build-debug/
cmake-build-release/
doc/

# 模型不上传，太大了
wheeltec_robot_urdf/
